<div class="row text-center border border-primary p-5">
    
    <div class="col">
        <span class="bg bg-primary rounded-circle p-2">
            <i class="fas fa-lock text-light "></i>
        </span>
    </div>
    
    <div class="w-100"></div>
    
    <div class="col text-primary mt-2">
        Please subscribe to view <b>{{ commons.userCompleteName( profile ) }}</b> posts
.   </div>

    <div class="w-100"></div>
    
    <div class="col mt-2">
        <button class="btn btn-outline-primary" (click)="startFollowing( profile )">Subscribe $9.99 Monthly</button>
    </div>
        
</div>