<div class="modal-header">
    <h4 class="modal-title">{{ data?.title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row text-center">
            <div class="col" >
                <image-cropper *ngIf="data?.image == 'profile'"
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    [resizeToWidth]="128"
                    format="png"
                    (imageCropped)="imageCropped($event)"></image-cropper>

                    <image-cropper *ngIf="data?.image == 'cover'"
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="16 / 6"
                    [resizeToWidth]="data?.width"
                    format="png"
                    (imageCropped)="imageCropped($event)"></image-cropper>

                <img [src]="croppedImage" *ngIf="data?.image == 'profile'"/>
            </div>
        </div>        
    </div>
    <div class="modal-footer">
    <button *ngIf="data?.type == 'confirmation'" type="button" class="btn btn-outline-dark" (click)="activeModal.close('no')">No</button>
    <button type="button" class="btn btn-outline-dark" (click)="cropImage()">Crop</button>
</div> 