
<app-header></app-header>

<div class="container bg-black">
  <div class="row">
    <div class="col-md-8">
        <div class="post-section">
            <div class="create-post">
                <div class="form-group mb-5 position-relative">
                    <input type="text" class="form-control" placeholder="Create Post">
                      <button class="btn go-live"><i class="fas fa-video"></i> Go Live</button>
                  </div>
                <div class="form-group mb-5 position-relative">
                    <input type="text" class="form-control post-send">
                      <button class="btn choose-image"><i class="far fa-image"></i></button>
                      <button class="btn choose-more"><i class="fas fa-ellipsis-h"></i></button>
                      <button class="btn go-live"><i class="fas fa-paper-plane"></i> Post</button>
                  </div>
              </div>
              <div class="tw-posts">
                <div class="user-post clearfix">
                      <div class="user-img">
                          <img src="/assets/user.jpg" alt="">
                      </div>
                      <div class="post-content">
                        <div class="post-header">
                              <div class="row no-gutters">
                                  <div class="col-md-6">
                                      <div class="user-info">
                                        <span class="user-name">John Doe</span>
                                        <span class="user-tag">@johndoe</span>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="post-time-stamp text-right">
                                          <span class="post-date">Apr 07</span>
                                          <span class="post-time">08:18am</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="post-text">
                            <h4>Vestibulum in Ullamcorper Tortor</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae.</p>
                          </div>
                          <div class="post-media">
                              <video id="my-video" class="video-js embed-responsive embed-responsive-16by9" controls preload="auto" data-setup="{}">
                                <source src="assets/video.mp4" class="embed-responsive-item" type="video/mp4"/>
                              </video>  
                          </div>
                          <div class="like-comment">
                            <ul>
                              <li><span><i class="fas fa-thumbs-up"></i> 1.1K Likes</span></li>
                              <li><span><i class="fas fa-comment-alt"></i> 23 Comments</span></li>
                            </ul>
                          </div>
                      </div>
                  </div>
                <div class="user-post clearfix">
                      <div class="user-img">
                          <img src="assets/user.jpg" alt="">
                      </div>
                      <div class="post-content">
                          <div class="post-header">
                              <div class="row no-gutters">
                                  <div class="col-md-6">
                                      <div class="user-info">
                                        <span class="user-name">John Doe</span>
                                        <span class="user-tag">@johndoe</span>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="post-time-stamp text-right">
                                          <span class="post-date">Apr 07</span>
                                          <span class="post-time">08:18am</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="post-text">
                            <h4>Vestibulum in Ullamcorper Tortor</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae.</p>
                          </div>
                          <div class="post-media">
                              <img src="assets/post.jpg" class="img-fluid" alt=""> 
                          </div>
                          <div class="like-comment">
                            <ul>
                              <li><span><i class="fas fa-thumbs-up"></i> 1.1K Likes</span></li>
                              <li><span><i class="fas fa-comment-alt"></i> 23 Comments</span></li>
                            </ul>
                          </div>
                      </div>
                  </div>
                <div class="user-post clearfix">
                      <div class="user-img">
                          <img src="assets/user.jpg" alt="">
                      </div>
                      <div class="post-content">
                        <div class="post-header">
                              <div class="row no-gutters">
                                  <div class="col-md-6">
                                      <div class="user-info">
                                        <span class="user-name">John Doe</span>
                                        <span class="user-tag">@johndoe</span>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="post-time-stamp text-right">
                                          <span class="post-date">Apr 07</span>
                                          <span class="post-time">08:18am</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="post-text">
                            <h4>Vestibulum in Ullamcorper Tortor</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae. Cras elementum interdum dui, ut ultricies dolor lacinia vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices gravida augue, et fringilla libero blandit blandit. Vestibulum in ullamcorper tortor. Cras elementum interdum dui, ut ultricies dolor lacinia vitae.</p>
                          </div>
                          <div class="like-comment">
                            <ul>
                              <li><span><i class="fas fa-thumbs-up"></i> 1.1K Likes</span></li>
                              <li><span><i class="fas fa-comment-alt"></i> 23 Comments</span></li>
                            </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="right-section">
              <div class="adv-banner">
                <a href="#">
                      <img src="assets/1.jpg" class="img-fluid" alt="">
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>