<div>
  
    <app-slide-show></app-slide-show>
      
    <div class="">
            <div class="">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                        </div>
                  <div class="col-md-6 bg-white">
                          <div class="login-section wrapper-table">
                              <div class="login-outer wrapper-cell">
                                  <div class="logo text-center">
                                      <h1>Twitter Pro</h1>
                                        <p>Twitter Pro dolor sit amet</p>
                                    </div>
                                    <div class="twitter-button text-center">
                                      <button class="btn btn-twitter" disabled><i class="fab fa-twitter"></i>Sign Up / Login with Twitter</button>
                                    </div>
                                    <div class="or-seperator">
                                      <span>OR</span>
                                    </div>
                                    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                      <div class="custom-form">
                                          <div class="form-group">
                                            <label for="user_name">Email / Username</label>
                                            <input type="email" class="form-control" formControlName="user_name" class="form-control" placeholder="Enter username / email" [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }" >
                                            <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                                              <div *ngIf="f.user_name.errors.required">Username is required</div>
                                            </div> 
                                          </div>
                                            <div class="form-group">
                                              <label>Password</label>
                                              <input type="password" formControlName="password" placeholder="Enter password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                              </div>
                                            </div>
                                            <div class="remember-forgot">
                                              <div class="row">
                                                  <div class="col text-left checkbox-animated m-0">
                                                      <!-- <input id="checkbox_animated_1" type="checkbox">
                                                        <label for="checkbox_animated_1">
                                                          <input type="checkbox">
                                                            <span class="check"></span>
                                                              <span class="box"></span>
                                                            Remember
                                                        </label> -->
                                                    </div>
                                                  <div class="col text-right">
                                                      <a routerLink="/forgot-password">Forgot Password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="twitter-button text-center my-4">
                                          <button class="btn btn-twitter" [disabled]="loginForm.invalid">Login</button>
                                        </div>
                                    </form>
                                    <div class="sign-up mb-4 text-center">
                                        Don't have an account yet?
                                        <a routerLink="/register">Sign Up</a>
                                    </div>
                                    <div class="social-icon mb-4 text-center">
                                      <ul>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                      </ul>
                                    </div>
                                    <div class="login-footer text-center">
                                      <ul class="mb-4">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">FAQ’s</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Terms</a></li>
                                        <li><a href="#">Privacy</a></li>
                                      </ul>
                                        <p>© 2019 Only VIPs. All rights reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div> 
  
  </div>
  