<div>
  
  <app-slide-show></app-slide-show>
    
  <div class="">
          <div class="">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 bg-black">
                        <div class="login-section wrapper-table">
                            <div class="login-outer wrapper-cell">
                                  <div class="logo text-center">
                                    <img src="assets/logo.png" alt="" style="padding: 22px;height: 90px;">
                                  </div>
                                  <div class="twitter-button text-center">
                                    <a class="btn btn-twitter" href='{{ SERVER_URL }}twitter-login'> <i class="fab fa-twitter"></i>Sign Up / Login with Twitter</a>
                                  </div>
                                  <div class="or-seperator">
                                    <span>OR</span>
                                  </div>                                  
                                  <form class="login-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                                    
                                    <!-- <app-crop-image [image]="imageFile"></app-crop-image> -->
                                    <app-alert *ngIf="response" [response]="response"></app-alert>

                                    <div class="custom-form">

                                        <div class="form-group">
                                          <label for="firstName"> First Name</label>
                                          <input type="text" class="form-control" formControlName="firstName" class="form-control" placeholder="Enter first name" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }" >
                                          <div class="invalid-feedback">
                                            <div *ngIf="f.firstName.hasError('required')">First name is required</div>
                                          </div> 
                                        </div>

                                        <div class="form-group">
                                          <label for="lastName"> Last Name</label>
                                          <input type="text" class="form-control" formControlName="lastName" class="form-control" placeholder="Enter last name" [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }" >
                                          <div class="invalid-feedback">
                                            <div *ngIf="f.lastName.hasError('required')">Last name is required</div>
                                          </div> 
                                        </div>

                                        <div class="form-group">
                                          <label for="userName"> Username</label>
                                          <input type="text" class="form-control" formControlName="userName" class="form-control" placeholder="Enter username" [ngClass]="{ 'is-invalid': (f.userName.touched && f.userName.errors) || isErrorField('Username') }" >
                                          <div class="invalid-feedback">
                                            <div *ngIf="f.userName.hasError('required')">Username is required</div>
                                            <div *ngIf="isErrorField('Username')">{{ response?.message }}</div>
                                          </div> 
                                        </div>

                                        <div class="form-group">
                                          <label for="userName">Email</label>
                                          <input type="email" class="form-control" formControlName="email" class="form-control" placeholder="Enter email" [ngClass]="{ 'is-invalid': (f.email.touched && f.email.errors) || isErrorField('Email') }" >
                                            <div class="invalid-feedback">
                                              <div *ngIf="f.email.hasError('required')">Email is required</div>
                                              <div *ngIf="f.email.hasError('pattern')">Email is invalid</div>
                                              <div *ngIf="isErrorField('email')">{{ response?.message }}</div>
                                            </div> 
                                          </div>
                                          

                                        <div class="form-group">
                                          <label>Password</label>
                                          <input type="password" formControlName="password" placeholder="Enter password" class="form-control" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
                                          
                                          <div class="invalid-feedback">
                                            <div *ngIf="f.password.hasError('required')">Password is required</div>
                                            <div *ngIf="f.password.hasError('hasNumber')">Must have at least 1 number!</div>
                                            <div *ngIf="f.password.hasError('hasCapitalCase')">Must have at least 1 UpperCase letter!</div>
                                            <div *ngIf="f.password.hasError('hasLowerCase')">Must have at least 1 LowerCase letter!</div>
                                            <div *ngIf="f.password.hasError('minlength')">Must have at least 5 characters.</div>
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label>Confirm Password</label>
                                          <input type="password" formControlName="confirmPassword" placeholder="Confirm password" class="form-control" [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors }" />
                                          <div class="invalid-feedback">
                                            <div *ngIf="f.confirmPassword.hasError('required')">Confirm Password is required</div>
                                            <div *ngIf="f.confirmPassword.hasError('NoPassswordMatch')">Password doesn't match</div>
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label>Profile Image</label>
                                          <div class="custom-file">
                                            <input type="file" class="custom-file-input" formControlName="profileImage" (change)="onFileSelect($event)" [ngClass]="{ 'is-invalid': f.profileImage.hasError('required') && f.profileImage.touched && !isImageSelected }">
                                            <input type="hidden" class="custom-file-input" formControlName="avatar" />
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                            
                                            <div *ngIf="f.profileImage.hasError('required') && f.profileImage.touched && !isImageSelected" class="invalid-feedback">Profile Image is required.</div>
                                          </div>
                                        </div>

                                          <div class="form-group">
                                            <div class="form-check form-check-inline">
                                              <input type="checkbox" class="form-check-input" id="celebrity" formControlName="isCelebrity">
                                              <label class="form-check-label" for="celebrity">Are you a celebrity ?</label>
                                            </div>
                                            <small id="emailHelp" class="form-text text-muted">Celebrities profiles will be reviewed.</small>
                                          </div>

                                          <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" id="agreeToTerms" formControlName="isAgreeToTerms">
                                            <label class="form-check-label" for="agreeToTerms" >I agree to the <a routerLink="/terms-of-service" class="text-primary">terms and conditions</a></label>
                                          </div>

                                          
                                            <div class="row mt-2">
                                              <div class="col text-left m-0"></div>
                                              <div class="col text-right text-light">
                                                <a routerLink="/login">Go back to Login</a>
                                              </div>
                                            </div>
                                          
                                      </div>

                                      

                                      <div class="twitter-button text-center my-3">
                                        <button type="submit" class="btn btn-twitter" [disabled]="signUpForm.invalid" >
                                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitted"></span>
                                          <span class="sr-only" *ngIf="submitted">Loading...</span>
                                          Register
                                        </button>
                                      </div>
                                  </form>
                                 
                                  <!-- <div class="social-icon mb-4 text-center">
                                    <ul>
                                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                  </div> -->

                                  <div class="login-footer text-center">
                                    <ul class="mb-4">
                                      <li><a href="#">About</a></li>
                                      <li><a href="#">FAQ’s</a></li>
                                      <li><a href="#">Contact</a></li>
                                      <li><a routerLink="/terms-of-service">Terms</a></li>
                                      <li><a routerLink="/privacy-policy">Privacy</a></li>
                                    </ul>
                                      <p>© 2019 Only VIPs. All rights reserved.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
            </div>
          </div>
        </div> 
</div>
