<div>
  
    <app-slide-show></app-slide-show>
      
    <div class="">
            <div class="">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                        </div>
                  <div class="col-md-6 bg-white">
                          <div class="login-section wrapper-table">
                              <div class="login-outer wrapper-cell">
                                    <div class="logo text-center">
                                      <h1>Only VIPs</h1>
                                        <p>Password Reset</p>
                                    </div>

                                    <form class="login-form" [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()">

                                      <!-- <div class="alert" [ngClass]="{'alert-success': response?.success , 'alert-danger' : !response?.success}" role="alert" *ngIf="showMessage">
                                        <p class="text-center">{{ response?.message }} </p>
                                      </div> -->
                                      <app-alert *ngIf="response" [response]="response"></app-alert>

                                      <div class="custom-form">
                                          <div class="form-group">
                                            <label for="userName">Email</label>
                                            <input type="email" class="form-control" formControlName="userName" class="form-control" placeholder="Enter email" [ngClass]="{ 'is-invalid': f.userName.touched && f.userName.invalid  }" >
                                            <div class="invalid-feedback">
                                              <div *ngIf="f.userName.hasError('required')">Email is required</div>
                                              <div *ngIf="f.userName.hasError('pattern')">Email is invalid</div>
                                            </div> 
                                          </div>
                                            
                                            <div class="remember-forgot">
                                              <div class="row">
                                                  <div class="col text-left checkbox-animated m-0">
                                                  </div>
                                                  <div class="col text-right">
                                                      <a routerLink="/login">Go back to Login</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="twitter-button text-center my-4">
                                          <button class="btn btn-twitter" [disabled]="resetPwdForm.invalid" buttonLoader [loaderColor]="'white'"><span></span>Send Email</button>
                                        </div>
                                    </form>
                                    
                                    <div class="sign-up mb-4 text-center">
                                        Don't have an account yet?
                                        <a routerLink="/register">Sign Up</a>
                                    </div>
                                    <div class="social-icon mb-4 text-center">
                                      <ul>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                      </ul>
                                    </div>
                                    <div class="login-footer text-center">
                                      <ul class="mb-4">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">FAQ’s</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Terms</a></li>
                                        <li><a href="#">Privacy</a></li>
                                      </ul>
                                        <p>© 2019 Only VIPs. All rights reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div> 
  
  </div>
  