<div>
  
    <app-slide-show></app-slide-show>
      
    <div class="">
            <div class="">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6 bg-white">
                          <div class="login-section wrapper-table">
                              <div class="login-outer wrapper-cell">
                                  <div class="logo text-center">
                                      <h1>Only VIPs</h1>
                                        <p>Only VIPs dolor sit amet</p>
                                    </div>
                                    
                                    <form class="login-form" [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()">
  
                                      <app-alert *ngIf="response" [response]="response"></app-alert>
  
                                      <div class="custom-form">
  
                                          
                                          <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" formControlName="password" placeholder="Enter password" class="form-control" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
                                            
                                            <div class="invalid-feedback">
                                              <div *ngIf="f.password.hasError('required')">Password is required</div>
                                              <div *ngIf="f.password.hasError('hasNumber')">Must have at least 1 number!</div>
                                              <div *ngIf="f.password.hasError('hasCapitalCase')">Must have at least 1 UpperCase letter!</div>
                                              <div *ngIf="f.password.hasError('hasLowerCase')">Must have at least 1 LowerCase letter!</div>
                                              <div *ngIf="f.password.hasError('minlength')">Must have at least 5 characters.</div>
                                            </div>
                                          </div>
  
                                          <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" formControlName="confirm_password" placeholder="Confirm password" class="form-control" [ngClass]="{ 'is-invalid': f.confirm_password.touched && f.confirm_password.errors }" />
                                            <div class="invalid-feedback">
                                              <div *ngIf="f.confirm_password.hasError('required')">Confirm Password is required</div>
                                              <div *ngIf="f.confirm_password.hasError('NoPassswordMatch')">Password doesn't match</div>
                                            </div>
                                          </div>
  
                                          
  
                                        <div class="remember-forgot">
                                              <div class="row">
                                                  <div class="col text-left m-0">                                                     
                                                  </div>
                                                  <div class="col text-right">
                                                    <a routerLink="/login">Back to Login</a>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
  
                                        <div class="twitter-button text-center my-4">
                                          <button class="btn btn-twitter" [disabled]="resetPwdForm.invalid" buttonLoader [loaderColor]="'white'"><span></span>Reset Password</button>
                                        </div>
                                    </form>
                                   
                                    <div class="social-icon mb-4 text-center">
                                      <ul>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                      </ul>
                                    </div>
                                    <div class="login-footer text-center">
                                      <ul class="mb-4">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">FAQ’s</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Terms</a></li>
                                        <li><a href="#">Privacy</a></li>
                                      </ul>
                                        <p>© 2019 Only VIPs. All rights reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div> 
  
  </div>
  