<app-header title="Profile"></app-header>
<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
            <label class="labeltext">Which theme you would like to use?</label><br>
            <div class="form-check-inline">

                <label class="customradio"><span class="radiotextsty">Black</span>
                    <input type="radio" name="black" value="black-theme" (change)="onThemeChange($event)" [checked]="currentTheme == 'black-theme'" [style.margin-left.px]="10"> 
                    <span class="checkmark"></span>
                </label>        
                <label class="customradio"><span class="radiotextsty">White</span>
                <input type="radio" name="white" value="white-theme" (change)="onThemeChange($event)" [checked]="currentTheme == 'white-theme'" [style.margin-left.px]="'10'">
                <span class="checkmark"></span>
                </label>

            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class="nav nav-tabs custom-tabs justify-content-end mt-5" id="myTab" role="tablist">
            <span>Setting</span>
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Security</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Billing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Privacy</a>
            </li>
          </ul>
          
          <div class="tab-content">

            <!-- Profile Form -->
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="row" [formGroup]="profileForm">
                    <div class="col-md-8 offset-md-2">
                        <div class="profile-section-u">
                          <app-alert *ngIf="response" [response]="response"></app-alert>  
                          <p class="main-line">Change Profile Information</p>
                          <div class="change-pic text-right">
                              <div #coverPhotoContainer class="" [ngStyle]="{'background': getCoverPhoto() , 'background-size' : 'cover' , 'padding': '110px 20px 20px 0px'}">
                                  <input #coverPhoto id="coverPhoto" type="file" class="d-none" (change)="onImageChange('cover-photo' , $event)" accept="image/gif,image/jpeg, image/jpg , image/gif,image/png , .png, .jpg , .jpeg , .gif" />  
                                  <button class="btn btn-dark btn-sm" (click)="openAttachment('coverPhoto')">Upload Cover Photo</button>
                                  <div class="user-image">
                                    <img *ngIf="!photos?.profilePhoto?.url" src="{{ commons.getFilePath(profile?.avatar) }}" class="img-fluid" alt="">
                                    <img *ngIf="photos?.profilePhoto?.url"  src="{{ photos?.profilePhoto?.url }}" class="img-fluid" alt="">
                                  </div>
                              </div>
                              <div class="cover">
                                <input #profilePhoto id="profilePhoto" type="file" class="d-none" (change)="onImageChange('profile-photo', $event)" accept="image/gif,image/jpeg, image/jpg , image/gif,image/png , .png, .jpg , .jpeg , .gif" />  
                                <button type="button" class="btn btn-dark btn-sm" (click)="openAttachment('profilePhoto')">Upload Profile Photo</button>
                              </div>
                          </div>
                          <div class="u-info-section">
                              <label for="">Username</label>
                              <input formControlName="userName" type="text" class="form-control" value="{{ profile?.userName }}" readonly>
                          </div>
                          <div class="u-info-section">
                              <label for="">First name</label>
                              <input formControlName="firstName" type="text" class="form-control" value="{{ profile?.firstName  }}" placeholder="Enter first name">
                          </div>

                          <div class="u-info-section">
                            <label for="">Last name</label>
                            <input formControlName="lastName" type="text" class="form-control" value="{{ profile?.lastName }}" placeholder="Enter last name">
                          </div>

                          <div class="u-info-section">
                            <label for="">Date of birth</label>
                            <ejs-datepicker formControlName="birthDate" id='datepicker' placeholder='Enter date of birth' [value]='profile?.birthDate'></ejs-datepicker>
                          </div>

                           <div class="u-info-section" formGroupName="mobileNumber">
                                <label for="">Mobile mumber</label>
                                <div class="row">
                                    <div class="col-2">
                                        <input formControlName="countryCode" type="text" class="form-control" value="{{ profile?.mobileNumber?.countryCode }}" placeholder="Country code">
                                    </div>
                                    <div class="col">
                                        <input formControlName="number" type="text" class="form-control" value="{{ profile?.mobileNumber?.number }}" placeholder="Mobile number">
                                    </div>
                                </div>
                            </div>


                          <div class="u-info-section">
                              <label for="">About</label>
                              <textarea formControlName="about" rows="2" class="form-control" value="{{ profile?.about }}" placeholder="Tell us about yourself"></textarea>
                          </div>

                          <div class="u-info-section" formGroupName="location">

                              <label for="">Address</label>
                              <input formControlName="address" type="text" class="form-control" value="{{ profile?.location?.address }}" placeholder="Enter complete address">

                              <label for="" class="mt-3">City</label>
                              <input formControlName="city" type="text" class="form-control" value="{{ profile?.location?.city }}" placeholder="Enter city name">

                              <label for="" class="mt-3">Country</label>
                              <input formControlName="country" type="text" class="form-control" value="{{ profile?.location?.country }}" placeholder="Enter country name">
                          </div>
                          <div class="text-right c-p-footer">
                              <button class="btn btn-dark btn-sm" (click)="goToPreviousUrl()">Back</button>
                              <button class="btn btn-dark btn-sm" (click)="updateProfile()" [disabled]="submitted">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!submitted"></span>
                                Save
                              </button>
                          </div>

                      </div>                    	
                  </div>
                </div>
                
            </div>
            <!-- ./ Profile Settings -->


            <!-- Security Settings -->
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 
                <div class="row" [formGroup]="securityForm">
                    <div class="col-md-8 offset-md-2">
                        <div class="profile-section-u">
                            <app-alert *ngIf="response" [response]="response"></app-alert>  
                            <p class="main-line">Update Password</p>
                           
                            <div class="u-info-section form-group mt-5">
                                <label>Password</label>
                                <input type="password" formControlName="password" placeholder="Enter password" class="form-control" [ngClass]="{ 'is-invalid': securityF.password.touched && securityF.password.errors }" />
                                
                                <div class="invalid-feedback">
                                    <div *ngIf="securityF.password.hasError('required')">Password is required</div>
                                    <div *ngIf="securityF.password.hasError('hasNumber')">Must have at least 1 number!</div>
                                    <div *ngIf="securityF.password.hasError('hasCapitalCase')">Must have at least 1 UpperCase letter!</div>
                                    <div *ngIf="securityF.password.hasError('hasLowerCase')">Must have at least 1 LowerCase letter!</div>
                                    <div *ngIf="securityF.password.hasError('minlength')">Must have at least 5 characters.</div>
                                </div>
                            </div>

                            <div class="u-info-section form-group">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" placeholder="Confirm password" class="form-control" [ngClass]="{ 'is-invalid': securityF.confirmPassword.touched && securityF.confirmPassword.errors }" />
                            <div class="invalid-feedback">
                                <div *ngIf="securityF.confirmPassword.hasError('required')">Confirm Password is required</div>
                                <div *ngIf="securityF.confirmPassword.hasError('NoPassswordMatch')">Password doesn't match</div>
                            </div>
                            </div>

                            <div class="text-right c-p-footer">
                                <button class="btn btn-dark btn-sm" (click)="goToPreviousUrl()">Back</button>
                                <button class="btn btn-dark btn-sm" (click)="updatePassword()" [disabled]="submitted || securityForm.invalid">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!submitted"></span>
                                Save
                                </button>
                            </div>

                        </div>                    	
                    </div>
                </div>
            </div>

            <!--./ Security Settings -->

            <!-- Billing Settings -->
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="profile-section-u">
                            <app-alert *ngIf="response" [response]="response"></app-alert>  
                            <p class="main-line">Billing Information</p>
                        </div>                    	
                    </div>
                </div>
            </div>
            <!--./ Billing Settings -->
            
            <!-- Privacy Settings -->
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="profile-section-u">
                            <app-alert *ngIf="response" [response]="response"></app-alert>  
                            <p class="main-line">Privacy Settings</p>
                        </div>                    	
                    </div>
                </div>
            </div>
            <!--./ Privacy Settings -->

          </div>
      </div>
  </div>
</div>